<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="axpert/css/style.css" />
    <script src="axpert/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome Axpert</title>
</head>

<body>
    <header style="position: fixed; width: 100%;">
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">Axpert</div>

            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- NAVIGATION MENUS -->
                <div class="menu">

                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>

                    <li class="services">
                        <a href="/">Services</a>

                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a href="/">Dropdown 1 </a></li>
                            <li><a href="/">Dropdown 2</a></li>
                            <li><a href="/">Dropdown 2</a></li>
                            <li><a href="/">Dropdown 3</a></li>
                            <li><a href="/">Dropdown 4</a></li>
                        </ul>

                    </li>

                    <li><a href="/">Pricing</a></li>
                    <li><a href="/">Contact</a></li>
                    <li><a href="Login.html">Login</a></li>
                    <li><a href="registerpage.html">Register</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <br>
    <br>
    <div class="image">
        <!-- <img src="axpert/assets/axpert.png" width="100%"> -->
    </div>
    <div class="header">
        <p>
            Axpert has the ability to serve almost any business segment
        </p>
        <p class="secondpara">
            Our appointment management software is fit for professionals, service-based local businesses, and
            mid-large enterprises across multiple industries
        </p>
    </div>

    <div class="catagory">
        <div class="cat1">
            <div style="color: #ffff;">
                <img src="axpert/assets/healthcare.png" style="height: 150px;justify-content: center;">
            </div>
            <h3>
                Health and Wellness
            </h3>
            <h5 style="width: 270px;">
                Wellness, Spa, Massage Therapist, Acupuncture
            </h5>
        </div>
        <div class="cat1">
            <div style="color: #ffff;">
                <img src="axpert/assets/education.png" style="height: 150px;justify-content: center;">
            </div>
            <h3>
                Education and Classes
            </h3>
            <h5 style="width: 270px;">
                Colleges & Universities, Schools, Tutoring
            </h5>
        </div>
        <div class="cat1">
            <div style="color: #ffff;">
                <img src="axpert/assets/medicine.png" style="height: 150px;justify-content: center;">
            </div>
            <h3>
                Medicines & Hospitals
            </h3>
            <h5 style="width: 270px;">
                Doctors, Dentists, Chiropractors, Opticians
            </h5>
        </div>
        <div class="cat1">
            <div style="color: #ffff;">
                <img src="axpert/assets/sport.png" style="height: 150px;justify-content: center;">
            </div>
            <h3>
                Fitness and Recreation
            </h3>
            <h5 style="width: 270px;">
                Health Clubs & Gyms, Personal Trainers, Yoga Lessons, Dance Instructors
            </h5>
        </div>
        <!-- second row  start from here -->
        <div class="cat1">
            <div style="color: #ffff;">
                <img src="axpert/assets/salon.png" style="height: 150px;justify-content: center;">
            </div>
            <h3>
                Salon and Beauty
            </h3>
            <h5 style="width: 270px;">
                Hair Salons, Barbershops, Nail Salon, Hair Braiding, Tanning Salons, Tattoo Studios
            </h5>
        </div>
        <div class="cat1">
            <div style="color: #ffff;">
                <img src="axpert/assets/professionals.png" style="height: 150px;justify-content: center;">
            </div>
            <h3>
                It Development Services
            </h3>
            <h5 style="width: 270px;">
                Attorneys, Tax Consultants, Photography Studios, Business Coaching, Driving Schools
            </h5>
        </div>
        <div class="cat1">
            <div style="color: #ffff;">
                <img src="axpert/assets/government.png" style="height: 150px;justify-content: center;">
            </div>
            <h3>
                Government Services
            </h3>
            <h5 style="width: 270px;">
                Government Offices, Volunteer Scheduling
            </h5>
        </div>
        <div class="cat1">
            <div style="color: #ffff;">
                <img src="axpert/assets/other.png" style="height: 150px;justify-content: center;">
            </div>
            <h3>
                Other Services
            </h3>
            <h5 style="width: 270px;">
                Retail Stores, Meeting Scheduling, City Tours, Interview Scheduling, Pet Walkers, Day Care Centers..
            </h5>
        </div>
    </div>
    <div class="knowmore">
        <button id="knowmorebtn" class="btn1" onclick="knowmore()"
            style=" align-items: center;height: 40px;width: 200px; background-color: #4c9e9e; font-weight: bold; color: white; font-size: 1.5rem;">
            Know More
        </button>
    </div>
    <div class="quotes" style="justify-content: center; text-align: center; padding: 2rem;">
        <p style="font-size: 2rem; font-weight: bold; color: #4c9e9e;">

            Axpert - simple, functional, powerful: no compromises!
        </p>
        <br>
        <p style="font-size: 1.2rem; font-weight: 500; ;">

            Our online appointment scheduling software has everything you need to grow & manage your business in one
            easy-to-use and powerful user interface
        </p>
    </div>

    <footer>
        <div style="display: flex; text-align: center; ">
            <div>
                <p style="margin-top: 10rem; font-weight: bold; font-size: 1.5rem;">
                    Give your customers the flexibility to book online 24x7 with our appointment scheduling software
                </p>
                <br>
                <br>
                <button class="btn1">
                    Get Started
                </button>
            </div>

            <img style="height: 350px;" src="axpert/assets/axpertapp.svg" alt="devicesimg">
        </div>
        <div>
            <div class="contactus">
                <div class="productList">
                    <li>
                        Product
                    </li>
                    <li id="li">
                        Contact us
                    </li>
                    <li id="li">
                        Blog
                    </li>
                    <li id="li">
                        Pricing
                    </li>
                    <li id="li" onclick="registerpage()">
                        Register
                    </li>
                </div>
                <div class="productList">
                    <li>
                        Features of Product
                    </li>
                    <li id="li">
                        Contact us
                    </li>
                    <li id="li">
                        Blog
                    </li>
                    <li id="li">
                        Pricing
                    </li>
                    <li id="li">
                        Register
                    </li>
                </div>
                <div class="productList">
                    <li>
                        Support
                    </li>
                    <li id="li">
                        Help
                    </li>
                    <li id="li">
                        Screen Sharing
                    </li>
                    <li id="li">
                        Connect with us
                    </li>
                    <li id="li" style="justify-content: start;">
                        <a href="#" class="fa fa-facebook" style="text-align: start;"></a>
                        <a href="#" class="fa fa-twitter" style="text-align: start;"></a>
                        <a href="#" class="fa fa-linkedin" style="text-align: start;"></a>
                    </li>

                </div>
                <div class="productList">
                    <li>
                        Contact Us
                    </li>
                    <li id="li" style="width: 160px;">
                        403, Navale ICON,
                        Pune Bangalore NH-4
                        Pune 411041, MH, IN
                    </li>
                    <div id="li" style="justify-content: start; display: flex;">
                        <a href="#" class="fa fa-envelope"></a>
                        <p style="padding-top: 1.6rem;">
                            area.xperties@gmail.com
                        </p>
                    </div>
                </div>

            </div>

            <p style="color: white; background-color: black; justify-content: end; text-align: end; ">
                Copyright 2024 © Axpert. All rights reserved.
            </p>
        </div>
    </footer>
</body>

</html>